<li class="nav-item dropdown">
    <a class="nav-link" data-toggle="dropdown" href="#">
        <i class="far fa-bell"></i>
        <span class="badge badge-warning navbar-badge">{{ cmd }}</span>
    </a>
    <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
        <span class="dropdown-item dropdown-header">Notifications</span>
        <div class="dropdown-divider"></div>
        <a href="/notifications/" class="dropdown-item">
            <i class="fas fa-file mr-2"></i> Commandes en attentes
            <span class="float-right text-muted text-sm">{{ cmd }}</span>
        </a>
        <div class="dropdown-divider"></div>
        <a href="/notifications/" class="dropdown-item dropdown-footer">Voir plus</a>
    </div>
</li>