{% extends "@frontOffice/base1.html.twig" %}
{% block title %}
    CGV
{% endblock title %}
{% block body %}
    <div class="hero-wrap hero-bread" style="background-image: url({{ asset('Bundle/assets/images/13.jpg') }});">
        <div class="container">
            <div class="row no-gutters slider-text align-items-center justify-content-center">
                <div class="col-md-9 ftco-animate text-center">
                    <h1 class="mb-0 bread">Conditions générales de vente</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row justify-content-center mb-3 pb-3">
            <div class="col-md-12 heading-section text-center ftco-animate">
                <h2 class="mb-4">Conditions générales de vente</h2>
            </div>
        </div>
    </div>

{% endblock body %}

