/* 

Tooplate 2114 Pixie

https://www.tooplate.com/view/2114-pixie

*/

body {
    font-family: 'Roboto', sans-serif;
    transition: all 0.5s;
}
p {
    margin-bottom: 0px;
    font-size: 14px;
    color: #4a4a4a;
    line-height: 24px;
}
a {
    text-decoration: none!important;
}

.copyright-text {
    text-transform: uppercase;
}

.main-button a {
    background-color: #3a8bcd;
    border-radius: 5px;
    padding: 10px 15px;
    display: inline-block;
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 0.4px;
    text-decoration: none;
    transition: all 0.5s;
}
.main-button a:hover {
    opacity: 0.7;
}
.section-heading {
    margin-top: 80px;
    margin-bottom: 40px;
}
.section-heading .line-dec {
    width: 30px;
    height: 5px;
    background-color: #ffd700 ;
}
.section-heading h1 {
    font-size: 22px;
    font-weight: 700;
    color: #1e1e1e;
    margin-top: 15px;
}

/* Pre Header Style */
#pre-header {
    /*background-color: #3a8bcd;*/
    background-color: #000;
    text-align: center;
}
#pre-header span {
    color: #fff;
    font-size: 15px;
    padding: 10px 0px;
    display: inline-block;
}

/* Header Style */
.navbar .navbar-brand {
    /*text-align: center;*/
    width: 100%;
    /*position: relative;*/
    padding: 18px 0px;
}
.bg-dark {
    background-color: #fff!important;
    border-bottom: 1px solid #eee;
}
#navbarResponsive {
    z-index: 999;
    position: absolute;
    left: 50%;
    top: 129px;
    transform: translateX(-50%);
}
.navbar-dark .navbar-nav .nav-item {
    margin: 0px 15px;
}
.navbar-dark .navbar-nav .nav-link {
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 700;
    color: #1e1e1e;
    transition: all 0.5s;
}
.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .active>.nav-link,
.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link.show,
.navbar-dark .navbar-nav .show>.nav-link {
    color: #ffd700 ;
}
.navbar:after {
    width: 100%;
    height: 1px;
    background-color: #eee;
    content: '';
    position: absolute;
    left: 0;
    bottom: -52px;
}
.navbar-dark .navbar-toggler-icon {
    background-image: none;
}
.navbar-dark .navbar-toggler {
    border-color: #3a8bcd;
    background-color: #3a8bcd;
    height: 50px;
    outline: none;
}
.navbar-dark .navbar-toggler-icon:after {
    content: '\f0c9';
    color: #FFF;
    font-size: 22px;
    line-height: 30px;
    font-family: 'FontAwesome';
}
/* Banner Style */
.banner {
    margin-top: 50px;
    /*background-image: url(../images/banner-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 150px 0px;*/
    background-position: center center;
}
.banner .caption {
    background-color: rgba(250,250,250,0.9);
    padding: 30px;
    max-width: 450px;
}
.banner .caption h2 {
    margin-top: 0px;
    margin-bottom: 15px;
    font-size: 24px;
    font-weight: 700;
    color: #1e1e1e;
}
.banner .caption .line-dec {
    width: 30px;
    height: 5px;
    background-color: #3a8bcd;
}
.banner .caption p {
    margin-top: 15px;
    margin-bottom: 20px;
}

/* Featured Style */
.featured-items {
    margin-bottom: 70px;
}
.featured-item {
    border-radius: 5px;
    border: 1px solid #eee;
    padding: 20px;
    transition: all 0.5s;
}
.featured-item:hover {
    opacity: 0.9;
}
.featured-item img {
    width: 100%;
}
.featured-item h4 {
    font-size: 17px;
    font-weight: 700;
    color: #1e1e1e;
    margin-top: 15px;
    transition: all 0.5s;
}
.featured-item:hover h4 {
    color: #3a8bcd;
}
.featured-item h6 {
    color: #3a8bcd;
    font-size: 15px;
    font-weight: 700;
    margin-bottom: 0px;
}
.owl-theme .owl-dots {
    text-align: center;
    margin-top: 30px;
}
.owl-theme .owl-dots .owl-dot {
    outline: none;
}
.owl-theme .owl-dots .active span {
    background-color: #3a8bcd!important;
}
.owl-theme .owl-dots .owl-dot span {
    background-color: #aaa;
    width: 8px;
    height: 8px;
    display: inline-block;
    margin: 0px 5px;
    outline: none;
}



/* Subscribe Style */
.subscribe-form {
    /*background-color: #3a8bcd;*/
    background:linear-gradient(to right,#BF953F, #FCF6BA, #B38728, #FBF5B7, #AA771C);
    padding: 80px 0px;
    text-align: center;
}
.subscribe-form .section-heading  {
    margin-top: 0px;
}
.subscribe-form .section-heading h1 {
    color: #fff;
}
.subscribe-form .section-heading .line-dec {
    background-color: #fff;
    margin: 0 auto;
}
.subscribe-form .main-content p {
    font-size: 17px;
    color: #fff;
    margin-bottom: 30px;
}
.subscribe-form .main-content form  {
    color: #fff;
    display: inline;
}
.subscribe-form .main-content form input {
    display: inline;
}
.subscribe-form .main-content form input {
    width: 100%;
    height: 46px;
    border: 1px solid #fff;
    background-color: transparent;
    padding-left: 15px;
    color: #fff;
    outline: none;
}
.subscribe-form .main-content form button:focus {
    color: #fff!important;
}
.subscribe-form .main-content form button {
    width: 100%;
    height: 45px;
    cursor: pointer;
    background-color: #fff;
    outline: none;
    border-radius: 5px;
    padding: 10px 15px;
    display: inline-block;
    color: #3a8bcd;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 0.4px;
    text-decoration: none;
    transition: all 0.5s;
    box-shadow: none;
    border: none;
}


/* Footer Style */
.footer {
    text-align: center;
}
.footer ul {
    padding: 0px;
    margin: 0px;
}
.footer ul li {
    list-style: none;
    display: inline-block;
}
.footer .logo img {
    max-width: 100%;
    margin-top: 60px;
    margin-bottom: 40px;
}
.footer .footer-menu {
    margin-bottom: 40px;
}
.footer .footer-menu ul li {
    margin: 0px 15px;
}
.footer .footer-menu a {
    font-size: 13px;
    color: #7a7a7a;
    text-transform: uppercase;
    transition: all 0.5s;
}
.footer .footer-menu a:hover {
    color: #3a8bcd;
    text-decoration: none;
}
.footer .social-icons {
    margin-bottom: 60px;
}
.footer .social-icons ul li {
    margin: 0px 10px;
}
.footer .social-icons a {
    width: 32px;
    height: 32px;
    color: #fff;
    background-color: #aaa;
    text-align: center;
    display: inline-block;
    line-height: 33px;
    border-radius: 50%;
    font-size: 13px;
    transition: all 0.5s;
}
.footer .social-icons a:hover {
    background-color: #3a8bcd;
}

/* Sub Footer Style */
.sub-footer {
    border-top: 1px solid #eee;
    text-align: center;
}
.sub-footer p {
    font-size: 12px;
    color: #7a7a7a;
    line-height: 60px;
}
.sub-footer a {
    color: #3a8bcd;
    text-decoration: none;
}

/* Featured Page Style */
.featured-page {
    /*margin-top: 130px;*/
    margin-bottom: 40px;
}
.featured-page .section-heading {
    margin-top: 0px;
    margin-bottom: 0px;
}
.featured-page #filters {
    margin-top: 15px;
    text-align: right;
}
.featured .featured-item {
    margin-bottom: 30px;
    text-decoration: none;
}
.featured .featured-item h4 {
    transition: all 0.5s;
}
.featured .featured-item:hover h4 {
    color: #3a8bcd;
}
#filter button {
    outline: none;
}
#filter .btn-primary.focus,
.btn-primary:focus {
    color: #3a8bcd!important;
    box-shadow: none!important;
}
#filters .btn-primary {
    color: #1e1e1e;
    border: none;
    font-size: 15px;
    font-weight: 700;
    background-color: transparent;
}
/* Isotope Transitions
------------------------------- */
.isotope,
.isotope .item {
    -webkit-transition-duration: 0.8s;
    -moz-transition-duration: 0.8s;
    -ms-transition-duration: 0.8s;
    -o-transition-duration: 0.8s;
    transition-duration: 0.8s;
}

.isotope {
    -webkit-transition-property: height, width;
    -moz-transition-property: height, width;
    -ms-transition-property: height, width;
    -o-transition-property: height, width;
    transition-property: height, width;
}

.isotope .item {
    -webkit-transition-property: -webkit-transform, opacity;
    -moz-transition-property:    -moz-transform, opacity;
    -ms-transition-property:     -ms-transform, opacity;
    -o-transition-property:         top, left, opacity;
    transition-property:         transform, opacity;
}

.page-navigation ul {
    text-align: center;
    border-top: 1px solid #eee;
    padding: 30px  0px 0px 0px;
    margin: 0px 0px 80px 0px;
}
.page-navigation ul li {
    display: inline-block;
}
.page-navigation ul li a {
    width: 40px;
    height: 40px;
    display: inline-block;
    text-align: center;
    line-height: 38px;
    border: 1px solid #eee;
    border-radius: 5px;
    font-weight: 700;
    color: #1e1e1e;
    font-size: 15px;
    text-decoration: none;
    transition: all 0.5s;
}
.page-navigation ul li a:hover,
.page-navigation ul li.current-page a {
    background-color: #3a8bcd;
    border-color: #3a8bcd;
    color: #fff;
}



/* Single Product Style */
.single-product .product-slider {
    padding: 20px;
    border: 1px solid #eee!important;
    border-radius: 5px;
}
.flexslider {
    border: none!important;
}
#carousel {
    margin-top: 20px;
}
#carousel .slides li {
    width: 150px!important;
}
.single-product .right-content h4 {
    font-size: 17px;
    font-weight: 700;
    margin-top: 0px;
}
.single-product .right-content h6 {
    color: #3a8bcd;
    font-size: 17px;
    font-weight: 700;
    margin-top: 10px;
}
.single-product .right-content p {
    margin-top: 20px;
    margin-bottom: 30px;
}
.single-product .right-content span {
    font-size: 14px;
    color: #3a8bcd;
    font-weight: 500;
    display: inline-block;
    margin-bottom: 15px;
}
.single-product .right-content label {
    font-size: 14px;
    color: #4a4a4a;
}
.single-product .right-content .quantity-text {
    margin-left: 10px;
    width: 44px;
    height: 44px;
    line-height: 42px;
    font-size: 14px;
    font-weight: 700;
    color: #4a4a4a;
    display: inline-block;
    text-align: center;
    outline: none;
    border: 1px solid #eee;
}
.single-product .right-content .button {
    margin-left: 15px;
    cursor: pointer;
    background-color: #3a8bcd;
    outline: none;
    border-radius: 5px;
    padding: 10px 15px;
    display: inline-block;
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 0.4px;
    text-decoration: none;
    transition: all 0.5s;
    box-shadow: none;
    border: none;
}
.single-product .right-content .down-content span {
    margin-bottom: 0px;
    display: inline-block;
    margin-left: 8px;
    color: #aaa;
}
.single-product .right-content .down-content span a {
    color: #aaa;
    font-weight: 400;
    margin-left: 4px;
    transition: all 0.5s;
}
.single-product .right-content .down-content span a:hover {
    color: #3a8bcd;
}
.single-product .right-content .down-content span a:hover i {
    background-color: #3a8bcd;
}
.single-product .right-content .down-content span a i {
    transition: all 0.5s;
    background-color: #aaa;
    width: 26px;
    height: 26px;
    display: inline-block;
    text-align: center;
    line-height: 26px;
    border-radius: 50%;
    color: #fff;
    font-size: 12px;
    margin-right: 5px;
}
.single-product .right-content .down-content .categories {
    border-top: 1px solid #eee;
    margin-top: 30px;
    padding: 10px 0px;
}
.single-product .right-content .down-content .share {
    border-top: 1px solid #eee;
    padding: 10px 0px;
}
.single-product .right-content .down-content h6 {
    font-size: 14px;
    color: #4a4a4a;
    font-weight: 400;
}



/* About Us Style */
.about-page {
    margin-top: 50px;
    margin-bottom: 80px;
}
.about-page .right-content h4 {
    font-size: 17px;
    font-weight: 700;
    margin-top: 0px;
    margin-bottom: 20px;
}
.about-page .left-image img {
    max-width: 100%;
}
.about-page .right-content span {
    display: inline-block;
    margin-left: 8px;
}
.about-page .right-content span a i {
    transition: all 0.5s;
    background-color: #aaa;
    width: 26px;
    height: 26px;
    display: inline-block;
    text-align: center;
    line-height: 26px;
    border-radius: 50%;
    color: #fff;
    font-size: 12px;
    margin-right: 5px;
}
.about-page .right-content .share {
    margin-top: 20px;
    border-top: 1px solid #eee;
    padding: 15px 0px;
}
.about-page .right-content h6 {
    font-size: 14px;
    color: #4a4a4a;
    font-weight: 400;
}
.about-page .right-content span a:hover i {
    background-color: #3a8bcd;
}




/* Contact Page Style */
.contact-page {
    margin-top: 50px;
    margin-bottom: 80px;
}
.contact-page .right-content input,
.contact-page .right-content textarea {
    border-radius: 0px;
    outline: none;
    box-shadow: none;
    font-size: 14px;
    margin-bottom: 30px;
}
.contact-page .right-content input {
    height: 44px;
    line-height: 44px;
}
.contact-page .right-content textarea {
    height: 200px;
    max-height: 280px;
}
.contact-page .right-content span {
    display: inline-block;
    margin-left: 8px;
}
.contact-page .right-content span a i {
    transition: all 0.5s;
    background-color: #aaa;
    width: 26px;
    height: 26px;
    display: inline-block;
    text-align: center;
    line-height: 26px;
    border-radius: 50%;
    color: #fff;
    font-size: 12px;
    margin-right: 5px;
}
.contact-page .right-content .share {
    margin-top: 30px;
    border-top: 1px solid #eee;
    padding: 15px 0px;
}
.contact-page .right-content h6 {
    font-size: 14px;
    color: #4a4a4a;
    font-weight: 400;
}
.contact-page .right-content span a:hover i {
    background-color: #3a8bcd;
}
.contact-page .right-content .button {
    cursor: pointer;
    background-color: #3a8bcd;
    outline: none;
    border-radius: 5px;
    padding: 10px 15px;
    display: inline-block;
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 0.4px;
    text-decoration: none;
    transition: all 0.5s;
    box-shadow: none;
    border: none;
}

/*----------------*/

textarea:focus, input:focus{
    outline: 0;
    outline: none;
    -webkit-appearance: none;
}

input[type="text"],input[type="password"],textarea,input[type="number"],.theCombo-number{
    border-radius: 0px;
    outline: none;
    box-shadow: none;
    font-size: 14px;
    border-color: #eee;
    height: 44px;
    line-height: 44px;

}

input[type="text"]:focus,textarea:focus,input[type="password"]:focus,input[type="number"]:focus,.theCombo-number:focus{
    border-color: #3a8bcd;

    -webkit-box-shadow: none;
    box-shadow: none;
}



@media (max-width: 762px){
    .listCat{
        display:none;
    }
}

/* Responsive Style */
@media (max-width: 991px) {

    .banner {
        border-top: none;
        margin-top: 0px;
    }
    .navbar .navbar-brand {
        width: auto;
    }
    .navbar:after {
        display: none;
    }
    #navbarResponsive {
        z-index: 99999;
        position: absolute;
        top: 96px;
        width: 100%;
        text-align: center;
        background-color: rgba(250,250,250,0.95);
        box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
    }
    .navbar-dark .navbar-nav .nav-item {
        border-bottom: 1px solid #eee;
    }
    .navbar-dark .navbar-nav .nav-item:last-child {
        border-bottom: none;
    }
    .navbar-dark .navbar-nav .nav-link {
        padding: 15px 0px;
    }
    .featured-page #filters {
        text-align: right;
    }
    .single-product .right-content {
        margin-top: 30px;
    }
    .about-page .right-content {
        margin-top: 30px;
    }
    .contact-page .right-content {
        margin-top: 30px;
    }
    .contact-page .right-content .col-md-6,
    .contact-page .right-content .col-md-12 {
        padding: 0px;
    }
    .featured-page {
        margin-top: 80px;
    }
    .about-page,
    .contact-page {
        margin-top: 0px;
    }

}

@media (max-width: 767px) {

    .subscribe-form .main-content form input.button {
        margin-top: 20px;
    }
    .featured-page #filters {
        margin-top: 15px;
        text-align: left;
    }

}

/*--------------*/

.icon-cart {
    width: 48px;
    height: 48px;
    position: relative;
    overflow: hidden;
    margin-left: 25px;
}

.icon-cart .cart-line-1 {
    width: 15%;
    height: 7%;
    position: absolute;
    left: 8%;
    top: 25%;
    -webkit-transform: rotate(5deg);
    -moz-transform: rotate(5deg);
    -ms-transform: rotate(5deg);
    transform: rotate(5deg);
    background-color: #000;
    border-bottom-left-radius: 35%;
}

.icon-cart .cart-line-2 {
    width: 35%;
    height: 7%;
    position: absolute;
    left: 6%;
    top: 40%;
    -webkit-transform: rotate(80deg);
    -moz-transform: rotate(80deg);
    -ms-transform: rotate(80deg);
    transform: rotate(80deg);
    background-color: #000;
}

.icon-cart .cart-line-2:before {
    content: "";
    width: 120%;
    height: 100%;
    position: absolute;
    left: 45%;
    top: -280%;
    -webkit-transform: rotate(-80deg);
    -moz-transform: rotate(-80deg);
    -ms-transform: rotate(-80deg);
    transform: rotate(-80deg);
    background-color: inherit;
}

.icon-cart .cart-line-2:after {
    content: "";
    width: 70%;
    height: 100%;
    position: absolute;
    left: 59%;
    top: -670%;
    background-color: inherit;
    -webkit-transform: rotate(40deg);
    -moz-transform: rotate(40deg);
    -ms-transform: rotate(40deg);
    transform: rotate(40deg);
    border-top-left-radius: 50%;
    border-bottom-left-radius: 25%;
}

.icon-cart .cart-line-3 {
    width: 30%;
    height: 7%;
    position: absolute;
    left: 33%;
    top: 45%;
    background-color: #000;
}

.icon-cart .cart-line-3:after {
    content: "";
    width: 124%;
    height: 100%;
    position: absolute;
    top: -150%;
    left: -5%;
    background-color: inherit;
}

.icon-cart .cart-wheel {
    width: 12%;
    height: 12%;
    background-color: #000;
    border-radius: 100%;
    position: absolute;
    left: 28%;
    bottom: 20%;
}

.icon-cart .cart-wheel:after {
    content: "";
    width: 100%;
    height: 100%;
    background-color: inherit;
    border-radius: 100%;
    position: absolute;
    left: 200%;
    bottom: 0;
}

/*--------------*/

.panierHeader{
    margin-left: -10px;
    padding:4px;
    border-radius: 20%;
    background: #0E9528;
    color: white;
}

.accountHeader{
    text-align: center;padding: 5px;border-left:1px solid #eee;
}

.accountHeader a{
    font-size: 14px;
    color:#595959;
}

.btn-panier{
    padding: 5px;
    background: #fff;
    color: #000;
    border: 2px solid black;
    font-weight: bold;
    width: 100%;
}

.btn-panier:hover{
    background: #3a8bcd;
    border: 2px solid #3a8bcd;
    color: white;
    transition: background 0.5s;
    transition: border 0.2s;
}

/*--------------*/

.ribbon {
    position: absolute;
    left: -5px; top: -5px;
    z-index: 1;
    overflow: hidden;
    width: 75px; height: 75px;
    text-align: right;
}
.ribbon span {
    font-size: 10px;
    font-weight: bold;
    color: #FFF;
    text-transform: uppercase;
    text-align: center;
    line-height: 20px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    width: 100px;
    display: block;
    background: #79A70A;
    background: linear-gradient(#F70505 0%, #8F0808 100%);
    box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
    position: absolute;
    top: 19px; left: -21px;
}
.ribbon span::before {
    content: "";
    position: absolute; left: 0px; top: 100%;
    z-index: -1;
    border-left: 3px solid #8F0808;
    border-right: 3px solid transparent;
    border-bottom: 3px solid transparent;
    border-top: 3px solid #8F0808;
}
.ribbon span::after {
    content: "";
    position: absolute; right: 0px; top: 100%;
    z-index: -1;
    border-left: 3px solid transparent;
    border-right: 3px solid #8F0808;
    border-bottom: 3px solid transparent;
    border-top: 3px solid #8F0808;
}

/*----------------------*/

.listCat, .listSCat{
    list-style: none;
    padding-left: 0 !important;

}

.listSCat{
    padding-left: 10px !important;

}
.listSCat li{
    /*border-left: 1px solid #595959;*/
}

.listC{
    border: 1px solid #eee;
    border-radius: 5px;
}

.listCat a{
    font-size: 12px;
    color:#595959;

}

.listCat a:hover{
    color:#3a8bcd;
}

.listCat a.active{
    color:#3a8bcd;
}

/*------- select -------*/

/*.cont_select_center {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -30px;
    margin-left: -150px;
}*/


/* ///  END DECORATION CSS  ///  */
.icon_select_mate {
    position: absolute;
    top: 10px;
    right: 2%;
    font-size: 16px;
    height: 22px;
    transition: all 275ms;
}

.select_mate {
    position: relative;
    float: right;
    min-width: 300px;
    width: 300px;
    min-height: 40px;
    font-family: 'Roboto';
    color: #777;
    font-weight: 300;
    background-color: #fff;
    box-shadow: 1px 2px 10px -2px rgba(0, 0, 0, 0.3);
    border-radius: 3px;
    transition: all 375ms ease-in-out;
    /* Oculto el elemento select */
}
.select_mate select {
    position: absolute;
    overflow: hidden;
    height: 0px;
    opacity: 0;
    z-index: -1;
}

.cont_list_select_mate {
    position: relative;
    float: left;
    width: 100%;
}

.cont_select_int {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 999;
    overflow: hidden;
    height: 0px;
    width: 100%;
    background-color: #fff;
    padding: 0px;
    margin-bottom: 0px;
    margin-top: 0px;
    border-radius: 0px 0px 3px 3px;
    box-shadow: 1px 4px 10px -2px rgba(0, 0, 0, 0.2);
    transition: all 375ms ease-in-out;
}
.cont_select_int li {
    position: relative;
    float: left;
    width: 96%;
    border-bottom: 1px solid #E0E0E0;
    background-color: #F5F5F5;
    list-style-type: none;
    padding: 5px 2%;
    margin: 0px;
    transition: all 275ms ease-in-out;
    display: block;
    cursor: pointer;
}
.cont_select_int li:last-child {
    border-radius: 3px;
    border-bottom: 0px;
}
.cont_select_int li:hover {
    background-color: #EEEEEE;
}
.cont_select_int .active {
    background-color: #EEEEEE;
}

/* etiqueta <p> con la opcion selecionada  */
.selecionado_opcion {
    padding: 10px 2%;
    width: 96%;
    display: block;
    margin: 0px;
    cursor: pointer;
}

/*---------*/

/*------- color style ------*/

.blockDetailArticle span{
    display: block;
    width: 100%;
    margin-top: 20px;
}

.blockDetailArticle span .cerColor{
    width:25px;
    height:25px;
    border-radius: 50%;
    display: inline-block;
    vertical-align: top;
    margin-right: 10px;
    border: 0.5px solid #BDBDBD;
}

.blockDetailArticle span .cerColor:hover{
    cursor: pointer;
    border: 0.5px solid #333333;
}
.cercleColorSelected{
    border: 0.5px solid #333333 !important;
}

/*--------------*/

/*#imgSection { margin-top:50px;background:#181015 url( ../images/bg2.jpg) no-repeat; background-size: cover; min-height:200px; text-align: center; padding-top:0px; color:white; font-weight:300; }
#imgSection2 { margin-top:50px;background:#181015 url( ../images/bg1.jpg) no-repeat; background-size: cover; min-height:200px; text-align: center; padding-top:0px; color:white; font-weight:300; }
*/

#imgSection{
    margin-top:50px;
    background:linear-gradient(to right,#BF953F, #FCF6BA, #B38728, #FBF5B7, #AA771C);
    min-height:100px;
    text-align: center;
    padding-top:0px;
    color:white;
    font-weight:300;
}
#imgSection h1, #imgSection2 h1 {

    position: relative;
    color: white;
    margin-top: 0px;
    top:30px;
    font-weight: bold;
    font-size: 30px;
    text-shadow: 2px 2px #000;


}

/*----------------*/

.btnFb{
    width:80% !important;
    border: 2px solid #fff;
    text-align: center;
    color:white;
    display: block;
    padding: 10px;

}

/*-------------*/

.login-container{
    margin-top: 5%;
    margin-bottom: 5%;
}
.login-form-1{
    padding: 5%;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}
.login-form-1 h3{
    text-align: center;
    color: #333;
}
.login-form-2{
    padding: 5%;
    background: #3a8bcd;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}
.login-form-2 h3{
    text-align: center;
    color: #fff;
}
.login-container form{
    padding: 10%;
}
.btnSubmit
{
    width: 50%;
    border-radius: 1rem;
    padding: 1.5%;
    border: none;
    cursor: pointer;
}
.login-form-1 .btnSubmit{
    font-weight: 600;
    color: #fff;
    background-color: #3a8bcd;
}
.login-form-2 .btnSubmit{
    font-weight: 600;
    color: #3a8bcd;
    background-color: #fff;
}
.login-form-2 .ForgetPwd{
    color: #fff;
    font-weight: 600;
    text-decoration: none;
}
.login-form-1 .ForgetPwd{
    color: #3a8bcd;
    font-weight: 600;
    text-decoration: none;
}

/*-------------------*/


.button1 {
    font-size: 1em;
    padding: 10px;
    color: #06D85F;
    border: 2px solid #06D85F;
    border-radius: 20px/50px;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease-out;
    width:100% !important;
}
.button1:hover {
    background: #06D85F;
    color:#fff;
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
    z-index: 99999;
    overflow: auto !important;
}
.overlay:target {
    visibility: visible;
    opacity: 1;
}

.popup {
    margin: 70px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 60%;
    position: relative;
    transition: all 5s ease-in-out;

}

.popup h2 {
    margin-top: 0;
    color: #333;
    font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
}
.popup .close:hover {
    color: #06D85F;
}
.popup .content {
    max-height: 30%;
    overflow: auto;
}

@media screen and (max-width: 700px){
    .box{
        width: 70%;
    }
    .popup{
        width: 70%;
    }
}

.search{
    padding-left: 30px;
}

#formsearch{
    position: relative;
    color: #807A78;
}

#formsearch i{
    position: absolute;
    top:10px;
    left: 9px;
}
